<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group724.icons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICons">
        <activity android:name=".Home_Screen"></activity>
        <activity android:name=".Cart" />
        <activity android:name=".Confirmation" />
        <activity android:name=".ItemInfo" />
        <activity android:name=".ItemList" />
        <activity
            android:name=".CategoryPicking"
            android:label="@string/title_activity_category_picking"
            android:theme="@style/Theme.ICons.NoActionBar" />
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@style/Theme.ICons.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>